<div>
  <h2>Gestor de Parques Naturales</h2>
  <button type="button" class="btn btn-success" style="text-align: right" (click)="open(content)">Registrar Parque</button>
  <table class="table" style="text-align: center">

    <thead>

      <tr>
        <th>IdParque</th>
        <th>Nombre</th>
        <th>Superficie</th>
        <th>Fecha de Declaracion</th>
        <th>Opciones</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let item of collection.data | paginate: config">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.superficie}}</td>
        <td>{{item.declaracion}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="openEditar(content,item)">Editar</button>
          <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
        </td>
      </tr>
    </tbody>

  </table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Agregar Parque</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <form [formGroup]="parqueForm">
            <div class="form-group">
              <label>Id</label>
              <input type="number" formControlName="id" class="form-control">
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" formControlName="nombre" class="form-control">
            </div>
            <div class="form-group">
              <label>Superficie</label>
              <input type="number" formControlName="superficie" class="form-control">
            </div>
            <div class="form-group">
              <label>Fecha de Declaracion</label>
              <input type="date" formControlName="declaracion" class="form-control">
            </div>
          </form>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="guardarParque()" *ngIf="!actualizar">Guardar</button>
      <button type="button" class="btn btn-outline-dark" (click)="actualizarParque()" *ngIf="actualizar">Actualizar</button>
    </div>
  </ng-template>

</div>